
.post-title {
    color: $orange;
}

.post-title:hover {
    text-decoration: none;
}

.post-title::before {
    content: "";
    display: block;
    background-color: transparent;
    height: 6px;
    width: 0px;
    margin: 30px 5px;
    background-image: radial-gradient($blue 50%, transparent 55%, transparent 100%), radial-gradient($blueAccent 50%, transparent 55%, transparent 100%), radial-gradient($blue 50%, transparent 55%, transparent 100%), linear-gradient(-90deg, transparent 0, transparent 32px, $blue 32px, $blueAccent 100%);
    background-size: 8px 8px, 8px 8px, 8px 8px, 100% 2px;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
    background-position: right -1px center, right 10px center, right 20px center, right center;
    -moz-transition: 1s ease-in-out all 0.1s;
    -webkit-transition: 1s ease-in-out all 0.1s;
    transition: 1s ease-in-out all 0.1s;
}

.post-title.visible::before {
    width: 230px;
}



.more-link {
    background: fade-out($color: $blueAccent, $amount: .05);
    background:linear-gradient( fade-out($color: $blueAccent, $amount: .05),fade-out($color: $blue, $amount: .05));
    padding:15px 50px;
    border-radius:50px;
    box-shadow: 1px 4px 8px fade-out($color: $black, $amount: .5);
    margin:20px;
    margin-bottom: 40px;
    color: $white;
    text-transform: uppercase;
    text-decoration:none;
    color:$white;
    font-weight:700;
    font-size: 1.6rem;
    &:hover {
        background:linear-gradient( fade-out($color: $blueAccent, $amount: 0),fade-out($color: $blueAccent, $amount: 0));
        color: $white;
        text-decoration: none;
    }
    &:active {
        background:linear-gradient( fade-out($color: $blueAccent, $amount: .3),fade-out($color: $blueAccent, $amount: .3));
    }
}