.internal-page {
    padding: 0px 5px;
    display:flex;
    flex-direction: column;
    ul {
        list-style: disc;
    }
}


/* Media Queries */
@media (min-width:400px) {

}

@media (min-width:450px) {

    .banner-text-internal {
        font-size: 4.05rem;
        line-height: 1.25em;
        top:50%;
    }

    .internal-page {
        padding: 0px 10px;
    }
  
}

@media (min-width: 769px) {

    // .banner-text {
    //     font-size: 4rem;
    // }
    
    // .container-banner-text {
    //     top:45%;
    // }

    .internal-page {
        padding: 0px 15px;
    }

}

@media (min-width:1025px) {

}

@media (min-width:1350px) {

    .internal-page {
        flex-direction: row;
        max-width:1600px;
        margin:auto;
    }

    .internal-page div.content-area {
        flex: 1 1 70%;
        margin-right: 40px;
    }

    .internal-page aside.widget-area {
        flex: 1 1 30%;
        margin-left: 40px;
    }
}