.widget-title {
    margin-top: 100px;
    font-weight: 800;
}

#secondary {
    ul {
        list-style:none;
        margin: 0 0;
        li {
            padding:15px .75em;
            margin: 0 .75em;
            border-top: fade-out($color: $blueAccent, $amount: .8) 1px solid;
            font-family: $headerFont;
            font-size:1.5rem;
            line-height: 1;
        }
        li a {
            font-family: $headerFont;
            font-size:1.5rem;
        }
        li a:hover {
            color: fade-out($color: $blueAccent, $amount: 0);
        }
        li:first-child {
            border-top: none;
        }
    }
}

.search-form {
    display: flex;
    margin: 0px 10px;
    label{ 
        width: 100%;
        max-width: 400px;
    }
    .search-field{ 
        width: 100%;
    }
    .search-submit {
        cursor:pointer;
        margin-left: 10px;
    }
}

/* Media Queries */
@media (min-width:400px) {

}

@media (min-width:450px) {

}

@media (min-width: 769px) {

    #secondary ul li a {
        font-size:1.8rem;
        line-height: 1.2;
    }

}

@media (min-width:1025px) {

}

@media (min-width:1350px) {

    .sidebar-container {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 0px;
    }

    .widget-title {
        margin-top: 40px;
        font-weight: 400;
        margin-bottom:15px;
    }
}