// variables
// 
:root {
    --headerFont:'Poppins', sans-serif;
    --bodyFont:'Roboto', Helvetica;
    --blue: rgba(0, 174, 239,1);
    --blueAccent:rgba(0, 120, 163,1);
    --orange:rgba(240, 124, 0, 1);
    // --yellow:rgba(247, 222, 85, 1);
    // --sunset:rgba(251, 85, 85, 1);
    // --rose: rgba(251, 85, 168, 1);
    --white:rgba(255,255,255,1);
    --black:rgba(0,0,0,1);
}

$blue:rgba(0, 174, 239,1);
$orange:rgba(240, 124, 0, 1);
$blueAccent:rgba(0, 120, 163,1);


// $yellow:rgba(247, 222, 85, 1);
// $sunset:rgba(251, 85, 85, 1);
// $rose: rgba(251, 85, 168, 1);

$white:rgba(255,255,255,1);
$black:rgba(0,0,0,1);

//fonts
$headerFont: 'Poppins', sans-serif;
$bodyFont: 'Roboto', Helvetica;