@import './_variables.scss';
// @import './header.scss';
@import './old.scss';


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    line-height: 2rem;
    background-color: rgba(240, 124, 0, 1);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    color: rgba(0, 174, 239,1);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 120, 163,1);
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    /*color: rgba(0, 174, 239, 1);     Using linear gradient color instead */
    text-align: center;
    line-height: 1.2em;
    font-family: coda;
    font-weight: 800;
    margin:20px 10px 20px 10px;
    background: -webkit-linear-gradient( rgba(0, 120, 163,1),rgba(0, 174, 239, 1)); 
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
h2 {
    font-size: 2rem;
    color: rgba(240, 124, 0,1);
    margin:40px 10px 30px 10px;
    line-height: 1.2em;
    font-family: coda;
    font-weight: 400;
}

h3 {
    font-size: 1.45rem;
    color:rgba(0, 174, 239, 1);
    margin:25px 15px;
    line-height: 1.2em;
    font-weight: 800;
    font-family: coda;
}

p {
    font-size: 1.25rem;
    margin-top:20px;
    line-height: 1.6;
}

ul {
    list-style: none;
    font-size:1.25rem;
}




/* Media Queries */
@media (min-width:400px) {

}

@media (min-width:450px) {

}

@media (min-width: 769px) {

    li a {
        transition-duration: .5s;
        transition-property: all;
    }

    li a:hover {
        color: rgba(0, 174, 239,1);
        text-decoration: underline;
    }

    li a:active {
        color: rgba(76, 142, 167, .94);
        text-decoration: none;
    }


    h1 {
        font-size:2.8rem;
    }

}

@media (min-width:1025px) {

}

@media (min-width:1350px) {

}