* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    font-size: 10px;
    background-color: $orange;
}

body {
    font-family: $bodyFont;
}

.site-content {
    position: relative;
    background: $white;
    z-index:3;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    color: $blue;
    text-decoration: none;
}

a:hover {
    color: $blueAccent;
    text-decoration: underline;
}

h1 {
    font-size: 3.6rem;
    text-align: center;
    line-height: 1.2em;
    font-family: $headerFont;
    font-weight: 700;
    margin:20px 10px 20px 10px;
    background: -webkit-linear-gradient( $blueAccent,$blue); 
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
h2,
.schema-faq-question {
    font-size: 3.6rem;
    color: $orange;
    margin: 40px 10px 30px 10px;
    line-height: 1.2em;
    font-family: $headerFont;
    font-weight: 400;
}

h3 {
    font-size: 2.7rem;
    color: $blueAccent;
    margin: 25px 15px;
    line-height: 1.2em;
    font-weight: 400;
    font-family: $headerFont;
}

h4 {
    font-size: 2.4rem;
    color: $black;
    margin: 25px 15px;
    line-height: 1.2em;
    font-weight: 400;
    font-family: $headerFont;
}

p {
    font-size: 2.25rem;
    margin-top: 20px;
    line-height: 1.6;
    font-family: $bodyFont;
}

ul {
    list-style: none;
    font-size: 2.25rem;
    font-family: $bodyFont;
    margin: 0 0 0 1.5em;
}

.fade-in {
    opacity:0;
    transition: opacity 1s ease-out;
}

.fade-in.appear {
    opacity: 1;
}

.slide-up {
    -ms-transform: translateY(75%);
    -webkit-transform: translateY(75%);
    transform: translateY(75%);
    transition: opacity 1s ease-out, transform 1s ease-out;
    opacity: 0;
}

.slide-up.appear {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

a.site-button {
    display:flex;
    align-self: auto;
    text-align: center;
    width: fit-content;
    background-color: rgba(240, 124, 0,.9);
    padding:15px;
    border-radius: 20px;
    color:white;
    margin: 50px auto;
    font-size: 1.8rem;
    font-family: $headerFont;
    transition: all .3s ease-in-out;
    box-shadow:1px 2px 4px rgba(0,0,0,.5);
}

a.site-button:hover {
    background-color: rgba(240, 124, 0,1);
    text-decoration: none;
    box-shadow:1px 5px 10px rgba(0,0,0,.5);
}

a.site-button:active {
    box-shadow:0px 0px 0px rgba(0,0,0,0);
}

a.site-button-blue {
    display:flex;
    align-self: auto;
    text-align: center;
    width: fit-content;
    background-color: fade-out($color: $blue, $amount: .1);
    padding:15px;
    border-radius: 20px;
    color:white;
    margin:25px auto 50px auto;
    font-size: 1.8rem;
    font-family: $headerFont;
    transition: all .3s ease-in-out;
    box-shadow:1px 2px 4px rgba(0,0,0,.5);
}

a.site-button-blue:hover {
    background-color: $blue;
    text-decoration: none;
    box-shadow:1px 5px 10px rgba(0,0,0,.5);
}

a.site-button-blue:active {
    box-shadow:0px 0px 0px rgba(0,0,0,0);
}

/* Media Queries */
@media (min-width:400px) {

}

@media (min-width:450px) {

}

@media (min-width: 769px) {

    h1 {
        font-size:5.04rem;
    }

    li a {
        transition-duration: .5s;
        transition-property: all;
    }

    li a:hover {
        color: $blue;
        text-decoration: underline;
    }

    li a:active {
        color: rgba(76, 142, 167, .94);
        text-decoration: none;
    }

    a.site-button {
        font-size:2.25rem;
    }
    a.site-button-blue {
        font-size:2.25rem;
    }

}

@media (min-width:1025px) {

}

@media (min-width:1350px) {

}