/* The hamburger menu Overlay (background) */

.mobileMenu {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100vh;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 19; /* Sit on top of everything but the Hamburger */
    left: 0;
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: fade-out($color: $blueAccent, $amount: .1); /* Orange w/opacity */
    overflow: hidden; /* Disable horizontal scroll */
    transition: .8s; /* 2 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.mobileMenu-header {
    display: flex;
    flex-direction: column;
    .site-branding {
        display: flex;
        margin: 8px auto 0px auto;
        a {
            max-width:200px;
        }
    }
}

.mobile-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom:120px;
    a {
        padding: 8px;
        svg {
            fill: $white;
            width: 100%;
            max-width: 35px;
        }
    }
}
  
/* Position the content inside the overlay */
.mobileMenu-content {
    position: relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#menu-mobile {
    display:flex;
    flex-direction: column;
}

/* The navigation links inside the overlay */
#menu-mobile a {
    padding: 8px;
    text-decoration: none;
    font-size: 5.4rem;
    line-height: 1em;
    font-weight:400;
    font-family: $headerFont;
    color: fade-out($color: $white, $amount: 0);
    white-space: nowrap;
    /* transition: 0.8s; */ /* Transition effects on hover (color) */
}

#menu-mobile a:hover,
#menu-mobile a:active,
#menu-mobile a:focus {
    color: $orange;
}
  
/* When you mouse over the navigation links, change their color */
/* .mobileMenu a:hover, .mobileMenu a:focus {
    color: $blue;
} */
  

/* When the height of the screen is less than 450 pixels, change the font-size of the links so they don't overlap */
@media screen and (max-height: 450px) {
    #menu-mobile a {
        font-size: 3.6rem}
}

// sized for small screens here, breakpoint of 375 pixels below in media query
a.menu-icon {
    display:flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 auto;
    justify-content: center;
    height: 80px;
    cursor: pointer;
    z-index: 20;
}

.hamburgerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:34px;
    margin: 0;
}

.hamburger {
    position: relative; //changed from absolute
    background:white;
    width:40px;
    height:3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    transition: .8s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    right:0;
    left:0;
    margin:auto;
    background:white;
    width:30px;
    height:3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    transition:.8s, transform .8s;
    z-index: 8;
}

.hamburger:before {
    top:-10px;
}

.hamburger:after {
    top:10px;
}

.hamburgertext {
    font-family: $headerFont;
    font-size: 1.75rem;
    font-weight: 400;
    color:$white;
    transition:.8s;
    text-align: center;
}

/* .menu-icon:hover .hamburgertext{
    color:$blue;
} */

/* .menu-icon:hover .hamburger,
.menu-icon:hover .hamburger:before,
.menu-icon:hover .hamburger:after{
    background: rgba(0, 174, 239, 1);
} */

.menu-icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow:0px 2px 5px rgba(0,0,0,0);
    transform: translate3d(25%, 13px, 0);
}

.menu-icon.active .hamburger:before {
    transform: rotate(45deg);
    top:0;
}

.menu-icon.active .hamburger:after {
    transform: rotate(135deg);
    top:0;
}


/* Media Queries */
@media (min-width:375px) {
/*     .menu-icon {
        top:4px;
        right:5px;
        width:80px;
        height:80px;
        cursor: pointer;
        z-index: 20;
    } */

}




@media (min-width:400px) {

    // .mobileMenu-header {
    //     .site-branding {
    //         display: flex;
    //         margin: 15px auto;
    //     }
    // }

}

@media (min-width: 769px) {

    a.menu-icon {
        display:none;
    }
    

	
}