#menu-sidebar {
    margin: 0 0;
}

.widget-title {
    margin-top: 100px;
    font-weight: 800;
}

#menu-sidebar li {
    padding:15px .75em;
    margin: 0 .75em;
    border-top: rgba(0, 120, 163,.2) 1px solid;
}

#menu-sidebar li a {
    font-family:coda,sans-serif;
    font-size:1.5rem;
}

#menu-sidebar li a:hover {
    color: rgba(0, 120, 163,1);
}

#menu-sidebar li:first-child {
    border-top: none;
}



/* Media Queries */
@media (min-width:400px) {

}

@media (min-width:450px) {

}

@media (min-width: 769px) {

    #menu-sidebar li a {
        font-family:coda,sans-serif;
        font-size:1rem;
        line-height: 1rem;
    }

}

@media (min-width:1025px) {

}

@media (min-width:1350px) {

    #nav_menu-2 {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 0px;
    }

    .widget-title {
        margin-top: 40px;
        font-weight: 400;
        margin-bottom:15px;
    }
}