@import './styles';

#footer {
    text-align:center;
    background:linear-gradient( $white,$blue);
    margin:auto;
    padding:100px 10px 20px 10px;
    position:relative;
    z-index:2;
}

.footer-form-col-1 {
    display:none;
}

.form-cta {
    color:$orange;
    font-family:coda;
    font-weight:800;
    font-size: 2em;
    line-height: 1;
}

form {
    input{
        font-family:coda;
        font-size: 1.5rem;
    }
    textarea {
        font-family:coda;
        font-size: 1.5rem;
        width:80%;
        height:100px;
        padding:10px;
        margin:10px auto;
    }
}

input[type=text] {
    width:80%;
    height:40px;
    padding:20px;
    margin:10px auto;
}

input[type=submit] {
    font-size:1em;
    font-weight: 800;
    padding:20px;
    margin:10px auto;
    background:$orange;
    color:$white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background:radial-gradient( $orange,fade-out($orange,.25));
    }

    &:active {
        background:radial-gradient( $orange,fade-out($orange,.75));
    }
}

input[type=text]:focus,
input[type=submit]:focus,
textarea:focus {
    outline: $orange solid 3px;
}

.footer-text-container {
    margin-top:50px;
}

span.footer-text {
    font-size: .82em;
    line-height:1.5em;
}

span.orange {
    color:$orange;
    font-weight:800;
}

.yelp {
    fill:rgba(211, 35, 35, 1);
}

.google {
    fill: url(#google-gradient);
}

.facebook {
    fill:rgba(65, 114, 184, 1);
}

.instagram {
    fill: url(#ig-gradient);
    
}

.linkedin {
    fill:rgba(0, 119, 181, 1);
}

.twitter {
    fill:rgba(29, 161, 242, 1);
}

svg {
    width:45px;
    cursor:pointer;
    &:hover {
        fill:rgba(240, 124, 0,1) !important;
    }
}



/* Media Queries */

@media (min-width: 769px) {
    span.calltoaction {
        display:none;
    }

    .footer-form-wrap {
        display:inline-flex;
        flex-direction: row;
    }

    .footer-form-col-1 {
        display:flex;
        flex-direction:column;
        flex:1 1 40%;   
    }

    .footer-form-col-1 span,
    span.form-cta  {
        font-size: 2rem;
        color: rgba(240, 124, 0,1);
        line-height: 1.2em;
        font-family: coda;
        font-weight: 800;
    }

    span.line1 {
        padding:10px;
        color:$blueAccent;
    }

    span.line2,
    span.line3,
    span.line4 {
        font-size:1.2rem;
        font-weight:400;
        color:$blueAccent;
        line-height: 1.5em;
    }

    iframe {
        padding:10px;
    }

    .footer-form-col-2 {
        display:flex;
        flex-direction: column;
        flex:1 1 60%;

    }


    .yelp {
        fill:rgba(0,0,0, 1);
    }
    
    .google {
        fill: rgba(0,0,0, 1);
    }
    
    .facebook {
        fill:rgba(0, 0 ,0 , 1);
    }
    
    .instagram {
        fill: rgba(0,0,0,1);
        
    }
    
    .linkedin {
        fill:rgba(0, 0, 0, 1);
    }
    
    .twitter {
        fill:rgba(0, 0, 0, 1);
    }


    .footer-text-container:hover {
        .yelp {
            fill:rgba(211, 35, 35, 1);
        }
        .google {
            fill: url(#google-gradient);
        }
        .facebook {
            fill:rgba(65, 114, 184, 1);
        }
        .instagram {
            fill: url(#ig-gradient);
        }
        .linkedin {
            fill:rgba(0, 119, 181, 1);
        }
        .twitter {
            fill:rgba(29, 161, 242, 1);
        }
    }

}
