* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  line-height: 2rem;
  background-color: #f07c00;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a {
  color: #00aeef;
  text-decoration: none;
}

a:hover {
  color: #0078a3;
  text-decoration: underline;
}

.wrap {
  background-color: white;
}

#footer {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#00aeef));
  background: linear-gradient(white, #00aeef);
  margin: auto;
  padding: 100px 10px 20px 10px;
  position: relative;
  z-index: 2;
}

.footer-form-col-1 {
  display: none;
}

.form-cta {
  color: #f07c00;
  font-family: coda;
  font-weight: 800;
  font-size: 2em;
  line-height: 1;
}

form input {
  font-family: coda;
  font-size: 1.5rem;
}

form textarea {
  font-family: coda;
  font-size: 1.5rem;
  width: 80%;
  height: 100px;
  padding: 10px;
  margin: 10px auto;
}

input[type=text] {
  width: 80%;
  height: 40px;
  padding: 20px;
  margin: 10px auto;
}

input[type=submit] {
  font-size: 1em;
  font-weight: 800;
  padding: 20px;
  margin: 10px auto;
  background: #f07c00;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background: radial-gradient(#f07c00, rgba(240, 124, 0, 0.75));
}

input[type=submit]:active {
  background: radial-gradient(#f07c00, rgba(240, 124, 0, 0.25));
}

input[type=text]:focus,
input[type=submit]:focus,
textarea:focus {
  outline: #f07c00 solid 3px;
}

.footer-text-container {
  margin-top: 50px;
}

span.footer-text {
  font-size: .82em;
  line-height: 1.5em;
}

span.orange {
  color: #f07c00;
  font-weight: 800;
}

.yelp {
  fill: #d32323;
}

.google {
  fill: url(#google-gradient);
}

.facebook {
  fill: #4172b8;
}

.instagram {
  fill: url(#ig-gradient);
}

.linkedin {
  fill: #0077b5;
}

.twitter {
  fill: #1da1f2;
}

svg {
  width: 45px;
  cursor: pointer;
}

svg:hover {
  fill: #f07c00 !important;
}

/* Media Queries */
@media (min-width: 769px) {
  span.calltoaction {
    display: none;
  }
  .footer-form-wrap {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-form-col-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
  .footer-form-col-1 span,
  span.form-cta {
    font-size: 2rem;
    color: #f07c00;
    line-height: 1.2em;
    font-family: coda;
    font-weight: 800;
  }
  span.line1 {
    padding: 10px;
    color: #0078a3;
  }
  span.line2,
  span.line3,
  span.line4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #0078a3;
    line-height: 1.5em;
  }
  iframe {
    padding: 10px;
  }
  .footer-form-col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }
  .yelp {
    fill: black;
  }
  .google {
    fill: black;
  }
  .facebook {
    fill: black;
  }
  .instagram {
    fill: black;
  }
  .linkedin {
    fill: black;
  }
  .twitter {
    fill: black;
  }
  .footer-text-container:hover .yelp {
    fill: #d32323;
  }
  .footer-text-container:hover .google {
    fill: url(#google-gradient);
  }
  .footer-text-container:hover .facebook {
    fill: #4172b8;
  }
  .footer-text-container:hover .instagram {
    fill: url(#ig-gradient);
  }
  .footer-text-container:hover .linkedin {
    fill: #0077b5;
  }
  .footer-text-container:hover .twitter {
    fill: #1da1f2;
  }
}
/*# sourceMappingURL=footer.css.map */