@import './styles';

a {
    color: $blue;
    text-decoration: none;
    &:hover {
        color: $blueAccent;
        text-decoration: underline;
    }
}

.wrap {
    background-color:$white;
}

// Home navagation will be sticky
.sticky {
    position:fixed !important;
    top:0;
    background: $blueAccent !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
}

#banner {
    @include parallax-background('../images/backgrounds/background.jpg');
    min-height: 100vh;
    position: relative;
    width:100%;
    z-index: 3;
}

.banner-text {
    position: absolute;
    top:40%;
    text-align: center;
    width:100%;
    z-index: -1;

    color: rgba(255, 255, 255, 1);
    font-family: coda, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin:auto;
    line-height: 1;
}

/*fade to black on lower banner to mesh with section 1 and to contrast well with white mouse and scroll text */
#banner::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.95) 80%,rgba(0,0,0,.95) 100%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.95) 80%,rgba(0,0,0,.95) 100%);
}

/* Scrolldown animation */
@media (min-height:450px) {
    #scroll {
        position: absolute;
        bottom: 10px;
        z-index: 3;
        display: inline-block;
        text-align: center;
        width:100%;
        margin: auto;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        color: $white;
        font : normal 400 20px/1 coda, sans-serif;
        letter-spacing: .05em;
        text-decoration: none;
        padding-top: 60px;

        &::before {
            position: absolute;
            top: 10px;
            left: 50%;
            content: '';
            width: 6px;
            height: 6px;
            margin-left: -3px;
            background-color: $white;
            border-radius: 100%;
            animation: sdb10 2s infinite;
            -webkit-animation: sdb10 2s infinite;
            box-sizing: border-box;
        }


        span {
            position: absolute;
            background:transparent;
            top: 0;
            left: 50%;
            width: 30px;
            height: 50px;
            margin-left: -15px;
            border: 2px solid $white;
            border-radius: 50px;
            box-sizing: border-box;
        }
    }

    @keyframes sdb10 {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            transform: translate(0, 20px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }


    @-webkit-keyframes sdb10 {
        0% {
            -webkit-transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            -webkit-transform: translate(0, 20px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}

#section1 {
    @extend %flexRow;
    width:100%;
    min-height:250px;
    justify-content: space-evenly;
    align-items:stretch;
    align-content: stretch;
}

.selling-point {
    @extend %flexColumn;
    color: $white;
    background: linear-gradient( $black, $blueAccent);
    flex:1 1 auto;
    justify-content: center;
    text-align: center;
    min-height:250px;
    margin:auto;
    cursor: pointer;
    z-index: 4;
    
    span {
        display:none;
    }
    
    &:hover {
        background:radial-gradient( $black,$blueAccent);
    }
    
    &:hover h3 {
        display:none;
    }
    
    &:hover span{
        display:inline-block;
    }
}

.sp1:hover {
    box-shadow: 5px 10px 10px black;
}

.sp2:hover {
    box-shadow: 0px 10px 10px black;
}

.sp3:hover {
    box-shadow: -5px 10px 10px black;
}

.sp2,
.sp3 {
    display:none;
}

.sp1 h3 {
    background: -webkit-linear-gradient(right, rgba(85, 204, 244,1),$blue); 
}

.sp2 h3 {
    background: -webkit-linear-gradient(right, rgba(170, 234, 249,1),rgba(85, 204, 244,1)); 
}

.sp3 h3 {
    background: -webkit-linear-gradient(right, $blue,rgba(170, 234, 249,1)); 
}

.selling-point h3 {
    font-size: 1.8em;
    line-height: 1.5em;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.selling-point span {
    padding:0px 20px 10px 20px;
    font-size:1em;
    line-height: 1.5em;
} 

#contact-flag {
    display:none;
}


.mid-wrap {
    display:flex;
    flex-direction: column;
    flex:1 1 auto;
}

#section2 {
    display: flex;
    flex-direction:row;
    flex:1 1 auto;
}

.content-wrap {
    display:flex;
    flex:1 1 100%;
    width:100%;
}

.content {
    display:flex;
    flex-direction: column;
    margin:10px;
}

h1 {
    font-size: 2.8rem;
    /*color: rgba(0, 174, 239, 1);     Using linear gradient color instead */
    text-align: center;
    line-height: 1.2em;
    font-family: coda;
    font-weight: 800;
    margin:20px 10px 20px 10px;
    background: -webkit-linear-gradient( $blueAccent,$blue); 
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
h2 {
    font-size: 2rem;
    color: $orange;
    margin:40px 10px 30px 10px;
    line-height: 1.2em;
    font-family: coda;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
    margin-top:20px;
    line-height: 1.6;
}

.content span{
    font-weight:700;
}

.sidebar-wrap {
    display:none;
}

#section3 {
    display:flex;
    flex-direction:column;
    flex:1 1 100%;
    margin:5px;
}

.imagebutton {
    display:flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    text-align: center;
    height:300px;
    justify-content: center;
    align-items: center;
    margin:5px 0px 5px 0px;
    white-space: normal;
    a{
        background: rgba(0, 120, 163,.95);
        background:linear-gradient(fade-out($blueAccent,.05), fade-out($blue,.05));
        padding:20px 30px 20px 30px;
        opacity:1;
        border-radius:50px;
        box-shadow: 1px 10px 10px rgba(0,0,0,.8);
        margin:20px;
        text-decoration:none;
        color:white;
        font-weight:700;
        font-size: .90em;
        &:hover{
            background:$blueAccent;
        }
        &:active{
            box-shadow: 1px 5px 5px rgba(0,0,0,.6);
        
        }
    }
}

.pbsale {
    background-image: url("../images/button/house-with-pool.jpg");
}

.homeworth {
    background-image: url("../images/button/crystal-pier.jpg");
}

.learn {
    background-image: url("../images/button/crystal-pier-aeriel.jpg");
}


#section4 {
    display: flex;
    flex-direction:row;
    flex:1 1 auto;
}

.content-wrap2 {
    display:flex;
    flex:1 1 auto;
}

.content2 {
    display:flex;
    flex-direction: column;
    margin:10px;
    flex:1 1 auto;
    h2 {
        color: $orange;
        text-align: center;
        margin-top:20px;
        line-height: 1;
    }
    p {
        font-size: 1.25rem;
        margin-top:20px;
    }
}

.local{
    color:$blue;
    font-size: 2rem;
    line-height: 1.2em;
    font-family: Coda;
    font-weight: 800;
    text-align: center;
    margin:50px 50px 30px 50px;
}

.ryanimg {
    display:none;
}

.sidebar-wrap2 {
    display:none;
}

#section5 {
    display: flex;
    flex-direction:row;
    flex:1 1 auto;
}

.content-wrap3 {
    display:flex;
    flex:1 1 100%;
    width:100%;
    background: url("../images/backgrounds/cubes.png") repeat/* , radial-gradient( farthest-corner at 60% 55%, rgba(240, 124, 0,1), white,white) */;
}

.content3 {
    display:flex;
    flex-direction: column;
    margin:10px;
    h2 {
        color: $orange;
        text-align: center;
        margin-top:20px;
        line-height: 1;
    }
    p {
        font-size: 1.25rem;
        margin-top:20px;
    }
    ul{
        list-style: disc;
        padding-left:20px;
        font-size:1.25rem;
        line-height: 2.5rem;
    }
}

.calltoaction{
    color:$blue;
    font-size: 1.5rem;
    line-height: 1.5em;
    font-family: Coda;
    font-weight: 800;
    text-align: center;
    margin:40px 10px 10px 10px;
    a{
        color:$orange;
    }
}

.sidebar-wrap3 {
    display:none;
}


/* Media Queries */
@media (min-width:400px) {    
    .banner-text {
        font-size: 3.5rem;
    }
  
}

@media (min-width:475px) {

}

@media (min-width: 769px) {

    .banner-text {
        top:45%;
        font-size: 4rem;
    }
    

    .selling-point {
        display:inline-flex;
        width:33%;
        h3 {
            padding:0px 20px 0px 20px;
        }
    }

    #contact-flag {
        position:fixed;
        top:50%;
        left:0;
        width:175px;
        height:100px;
        background:rgba(240, 124, 0,1);
        box-shadow: 1px 15px 15px rgba(0,0,0,.3);
        z-index: 2;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .flag-text {
        color:$white;
        font-size: 1.2em;
        font-weight:700;
        padding:10px;
        text-align: center;
        &:hover {
            color:rgba(255,255,255,.9);
            font-size: 1.5em;
            font-weight:800;
            padding:8px;
            text-align: center;
            text-decoration: none;
        }
    }

    .mid-wrap {
        display:flex;
        flex-direction: column;
        max-width: 1700px;
        margin: auto;
    }

    .content-wrap {
        display: flex;
        flex-direction:column;
        flex:1 1 75%;        
    }

    .content {
        display:flex;
        flex-direction: column;
        padding:1rem;
    }

    .sidebar-wrap {
        display:flex;
        flex:1 1 25%;
        order:-1;
        padding:10px;
        background:linear-gradient( $blueAccent,white);
    }
    .sidebar {
        display:flex;
        flex-direction: column;
        margin:0 auto;
        img {
            margin:10px auto;
            width:100%;
            flex:1 1 auto;
            object-fit: scale-down;
        }
    }

    #section3 {
        flex-direction: row;
    }

    .imagebutton {
        margin:5px;
        height:400px;
        a{
            font-size: 1em;
        }
    }

    .content2,
    .content3 {
        padding:0px 15px;
    }

    img.ryanimg {
        display:flex;
        float:right;
        background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.95) 80%,rgba(255,255,255,.95) 100%);
    }


/* removed the map iframe and moved it to the footer - sidebar is blank so added a background cube pattern instead of sidebar
    .content-wrap3 {
        display: flex;
        flex-direction:column;
        flex:1 1 75%;    
        background: url("https://pacificbeachhomes.com/wp-content/uploads/2019/10/cubes.png") repeat, radial-gradient(circle, rgba(240, 124, 0,1) 5%, white 95%);   
    }

    .content3 {
        display:flex;
        flex-direction: column;
        padding:1rem;
    }

    .sidebar-wrap3 {
        display:flex;
        order:-1;
        flex:1 1 25%;
        padding:10px;
        background: url("https://pacificbeachhomes.com/wp-content/uploads/2019/10/cubes.png") repeat, radial-gradient(circle, rgba(240, 124, 0,1) 20%, white 80%);
        /*background-image: repeating-linear-gradient( -45deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 15px, transparent 15px, transparent 30px);
        background-color:rgba(240, 124, 0,1);
    }
    .sidebar3 {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:0 auto;
    }

    .sidebar3 iframe {
        margin:10px auto;
        max-width:100%;
        flex:1 1 auto;
        max-height: 700px;
    }
*/
    span.calltoaction {
        display:none;
    }
}

@media (min-width:1025px) {

    .banner-text {
        font-size: 4.5rem;
    }

    img.petcoparkimg {
        display:none;
    }

    #contact-flag {
        left:unset;
        right:0;

    }

    .content3 {
        width:80%;
        margin:40px auto;
    }


/*      Removing the image in sidebar - added as a float instead
    img.ryanimg {
        display:none;
    }

    .content-wrap2 {
        display: flex;
        flex-direction:column;
        flex:1 1 75%;        
    }

    .content2 {
        display:flex;
        flex-direction: column;
        padding:1rem;
    }

    .sidebar-wrap2 {
        display:flex;
        flex:1 1 25%;
        padding:10px;
    }
    .sidebar2 {
        display:flex;
        flex-direction: column;
        margin:0 auto;
    }

    .sidebar2 img {
        margin:10px auto;
        object-fit: scale-down;
        flex:1 1 auto;
    }*/
}

@media (min-width:1350px) {
    img.surfimg {
        display:none;
    }
    
    img.wavesimg {
        display:none;
    }
}