#catapult-cookie-bar {
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    z-index: 99999;
    overflow: hidden;
    color: $black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $white;
}
#catapult-cookie-bar a {
    color: #707070;
}
#catapult-cookie-bar .x_close span {
    background-color: $white;
}
button#catapultCookie {
    background:$orange;
    color: $white;
    border: 0; padding: 6px 9px; border-radius: 3px;
}
#catapult-cookie-bar h3 {
    color: $black;
}
.has-cookie-bar #catapult-cookie-bar {
    opacity: 1;
    max-height: 999px;
    min-height: 30px;
}