@import './selling-points';

@import './flag';

.mid-wrap {
    display:flex;
    flex-direction: column;
}

@import './content-pb-intro';

@import './image-buttons';

@import './content-choose-pbh';

@import './testimonials';

@import './content-services';

.calltoaction{
    color:$orange;
    font-size: 2.25rem;
    line-height: 1.2;
    font-family: $headerFont;
    font-weight: 700;
    text-align: center;
    margin:40px 10px 10px 10px;
}


/* Media Queries */
@media (min-width:400px) {

}

@media (min-width:450px) {

}

@media (min-width: 769px) {

    .mid-wrap {
        display:flex;
        flex-direction: column;
        max-width: 1600px;
        margin: auto;
    }

    .content2,
    .content3 {
        padding:0px 15px;
    }

    span.calltoaction {
        display:none;
    }

}