#section4 {
    display: flex;
    flex-direction: row;
    position: relative;
}

.content-wrap2 {
    display:flex;
}

.content2 {
    display:flex;
    flex-direction: column;
    margin:10px;
}

.local{
    color: $blue;
    font-size: 2.25rem;
    line-height: 1.2em;
    font-family: $headerFont;
    font-weight: 800;
    text-align: center;
    margin:50px 30px 0px 30px;
}

.content2 h2 {
    text-align: center;
}

.ryanimg-container {
    display:none;
}

.sidebar-wrap2 {
    display:none;
}

@media (min-width: 769px) {
    .local{
        font-size: 3.6rem;
        line-height: 1.2em;
        margin:50px 50px 0px 50px;
    }

    .ryanimg-container {
        display:flex;
        float:right;
        width:25%;
        max-width:300px;
        margin: 0;
        .ryanimg.lazy {
            width:100%;
            padding-bottom:164%;
            background-image: url("../images/agents/ryan-pearson-lazy.jpg");
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .ryanimg {
            width:100%;
            padding-bottom:164%;
            background-image: url("../images/agents/ryan-pearson.png");
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}


@media (min-width:1025px) {

}