#section2 {
    display: flex;
    flex-direction:row;
    position: relative;
}

.zip-code {
    position: absolute;
    top: -100px;
    right: 0;
    font-size:10rem;
    font-weight: 700;
    font-family: $headerFont;
    color: fade-out($color: $blue, $amount: .95);
}

.content-wrap {
    display:flex;
    width:100%;
    position: relative;
}

.content {
    display:flex;
    flex-direction: column;
    margin:10px;
}

.content span{
    font-weight:700;
}

.sidebar-wrap {
    display:none;
}


@media (min-width: 769px) {

    .content-wrap {
        display: flex;
        flex-direction:column;
        flex:1 1 75%;        
    }

    .zip-code {
        top: -300px;
        font-size:20rem;
    }

    .content {
        display:flex;
        flex-direction: column;
        margin: 20px;
    }

    .sidebar-wrap {
        display:flex;
        flex:1 1 25%;
        order:-1;
        padding:10px;
        background:linear-gradient( $blueAccent,$white);
    }
    .sidebar {
        display:flex;
        flex-direction: column;
        margin:0 auto;
    }

    .sidebar img {
        margin:10px auto;
        width:100%;
        flex:1 1 auto;
        object-fit: scale-down;
    }

}

@media (min-width:1025px) {

    .content {
        margin: 20px 40px;
    }

    img.petcoparkimg {
        display:none;
    }
}

@media (min-width:1350px) {
    img.surfimg {
        display:none;
    }
    
    img.wavesimg {
        display:none;
    }
}